<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gazebo_kinematics" params="
    reference
    r g b
    mu1
    mu2
    restitution_coefficient
    kp
    kd
    max_vel
    min_depth">

    <gazebo reference="${reference}">
      <visual>
        <material>
          <diffuse>${r} ${g} ${b} 1.0</diffuse>
          <ambient>${r} ${g} ${b} 1.0</ambient>
          <specular>${r} ${g} ${b} 1.0</specular>
        </material>
      </visual>
      <surface>
        <friction>
          <ode>
            <mu1>${mu1}</mu1>
            <mu2>${mu2}</mu2>
          </ode>
        </friction>
        <bounce>
          <restitution_coefficient>${restitution_coefficient}</restitution_coefficient>
        </bounce>
        <contact>
          <ode>
            <kp>${kp}</kp>
            <kd>${kd}</kd>
            <max_vel>${max_vel}</max_vel>
            <min_depth>${min_depth}</min_depth>
          </ode>
        </contact>
      </surface>
    </gazebo>
  </xacro:macro>

	<gazebo reference="base_body">
    <visual>
      <material>
        <diffuse>0.9 0.9 0.9 1</diffuse>
        <ambient>0.9 0.9 0.9 1</ambient>
        <specular>0.9 0.9 0.9 1</specular>
      </material>
    </visual>
  </gazebo>
  <gazebo reference="camera_case_link">
    <visual>
      <material>
        <diffuse>0.1 0.1 0.1 1</diffuse>
        <ambient>0.1 0.1 0.1 1</ambient>
        <specular>0.1 0.1 0.1 1</specular>
      </material>
    </visual>
  </gazebo>

  <xacro:gazebo_kinematics reference="fr_wheel"
    r="0.175" g="0.175" b="0.175"
    mu1="200"
    mu2="200"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>
  
  <xacro:gazebo_kinematics reference="fl_wheel"
    r="0.175" g="0.175" b="0.175"
    mu1="200"
    mu2="200"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>
  
  <xacro:gazebo_kinematics reference="rl_bracket"
    r="0.175" g="0.175" b="0.175"
    mu1="100"
    mu2="100"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>
  
  <xacro:gazebo_kinematics reference="rl_wheel"
    r="0.175" g="0.175" b="0.175"
    mu1="200"
    mu2="200"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>
  
  <xacro:gazebo_kinematics reference="rr_bracket"
    r="0.175" g="0.175" b="0.175"
    mu1="100"
    mu2="100"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>
  
  <xacro:gazebo_kinematics reference="rr_wheel"
    r="0.175" g="0.175" b="0.175"
    mu1="200"
    mu2="200"
    restitution_coefficient="0.0"
    kp="100000.0"
    kd="100.0"
    max_vel="0.01"
    min_depth="0.001"/>

</robot>