<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="load_robot" params="
    robot_type
    vision
    robot_ip
    username
    password
    port
    port_realtime
    session_inactivity_timeout_ms
    connection_inactivity_timeout_ms
    use_internal_bus_gripper_comm
    use_fake_hardware
    fake_sensor_commands
    sim_gazebo
    sim_ignition
    sim_isaac
    gripper_joint_name
    gripper_max_velocity
    gripper_max_force
    gripper_com_port:=/dev/ttyUSB0">

    <xacro:arg name="base_isaac_joint_commands" default="/base_isaac_joint_commands"/>
    <xacro:arg name="base_isaac_joint_states" default="/base_isaac_joint_states"/>
    <xacro:arg name="arm_isaac_joint_commands" default="/arm_isaac_joint_commands"/>
    <xacro:arg name="arm_isaac_joint_states" default="/arm_isaac_joint_states"/>

    <!-- if robot_type is base, load the base.xacro file -->
    <xacro:if value="${robot_type == 'base'}">
      <xacro:include filename="$(find mobile_manipulator)/urdf/${robot_type}.xacro" />
      <xacro:load_base
        parent="base_link"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        sim_gazebo="${sim_gazebo}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"
        isaac_joint_commands="$(arg base_isaac_joint_commands)"
        isaac_joint_states="$(arg base_isaac_joint_states)"/>
    </xacro:if>

    <!-- if robot_type is arm, load the arm.xacro file -->
    <xacro:if value="${robot_type == 'arm'}">
      <xacro:include filename="$(find mobile_manipulator)/urdf/${robot_type}.xacro" />
      <xacro:load_arm
        parent="base_link"
        vision="${vision}"
        robot_ip="${robot_ip}"
        username="${username}"
        password="${password}"
        port="${port}"
        port_realtime="${port_realtime}"
        session_inactivity_timeout_ms="${session_inactivity_timeout_ms}"
        connection_inactivity_timeout_ms="${connection_inactivity_timeout_ms}"
        use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        sim_gazebo="${sim_gazebo}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"
        isaac_joint_commands="$(arg arm_isaac_joint_commands)"
        isaac_joint_states="$(arg arm_isaac_joint_states)"
        gripper_joint_name="${gripper_joint_name}"
        gripper_max_velocity="${gripper_max_velocity}"
        gripper_max_force="${gripper_max_force}"
        gripper_com_port="${gripper_com_port}"/>
    </xacro:if>

    <!-- if robot_type is integrate, load the integrated model with base and arm -->
    <xacro:if value="${robot_type == 'integrate'}">
      <xacro:include filename="$(find mobile_manipulator)/urdf/base.xacro" />
      <xacro:include filename="$(find mobile_manipulator)/urdf/arm.xacro" />
      <xacro:load_base
        parent="base_link"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        sim_gazebo="${sim_gazebo}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"
        isaac_joint_commands="$(arg base_isaac_joint_commands)"
        isaac_joint_states="$(arg base_isaac_joint_states)"/>
      <xacro:load_arm
        parent="${connection_link}"
        vision="${vision}"
        robot_ip="${robot_ip}"
        username="${username}"
        password="${password}"
        port="${port}"
        port_realtime="${port_realtime}"
        session_inactivity_timeout_ms="${session_inactivity_timeout_ms}"
        connection_inactivity_timeout_ms="${connection_inactivity_timeout_ms}"
        use_internal_bus_gripper_comm="${use_internal_bus_gripper_comm}"
        use_fake_hardware="${use_fake_hardware}"
        fake_sensor_commands="${fake_sensor_commands}"
        sim_gazebo="${sim_gazebo}"
        sim_ignition="${sim_ignition}"
        sim_isaac="${sim_isaac}"
        isaac_joint_commands="$(arg arm_isaac_joint_commands)"
        isaac_joint_states="$(arg arm_isaac_joint_states)"
        gripper_joint_name="${gripper_joint_name}"
        gripper_max_velocity="${gripper_max_velocity}"
        gripper_max_force="${gripper_max_force}"
        gripper_com_port="${gripper_com_port}"/>
    </xacro:if>
	</xacro:macro>
</robot>